{{> metabase/email/_header}}
    <p><a href="{{questionURL}}">{{questionName}}</a> has {{alertCondition}}.</p>
    <!-- @senior to-do: only show this next part if the alert was set up to only deliver the first time it triggered -->
    <p>We’ll stop sending you alerts about this question now.</p>
  {{{pulse}}}
{{> metabase/email/_footer}}
